In [41]:
import networkx as nx
import matplotlib.pyplot as plt
import json
import math
from networkx.readwrite import json_graph
import utilities
import community as community_louvain
import pandas as pd

## Data Loading

In [104]:
flagged_cluster_2019 = []
cluster_2019_dir = "/home/c6/Desktop/Pouneh_clusters/2019/160.txt"
with open(cluster_2019_dir, 'r') as f:
        for line in f.readlines():
            flagged_cluster_2019.append(line.rstrip('\n'))

flagged_cluster_2018 = []
cluster_2018_dir = "/home/c6/Desktop/Pouneh_clusters/2018/64.txt"
with open(cluster_2018_dir, 'r') as fi:
        for line in fi.readlines():
            flagged_cluster_2018.append(line.rstrip('\n'))
            
flagged_cluster_2017 = []
cluster_2017_dir = "/home/c6/Desktop/Pouneh_clusters/2017/7.txt"
with open(cluster_2017_dir, 'r') as fi:
        for line in fi.readlines():
            flagged_cluster_2017.append(line.rstrip('\n'))        
            
flagged_cluster_2016 = []
cluster_2016_dir = "/home/c6/Desktop/Pouneh_clusters/2016/63.txt"
with open(cluster_2016_dir, 'r') as fi:
        for line in fi.readlines():
            flagged_cluster_2016.append(line.rstrip('\n')) 

flagged_cluster_2015 = []
cluster_2015_dir = "/home/c6/Desktop/Pouneh_clusters/2015/12.txt"
with open(cluster_2015_dir, 'r') as fi:
        for line in fi.readlines():
            flagged_cluster_2015.append(line.rstrip('\n')) 
            
flagged_cluster_2014 = []
cluster_2014_dir = "/home/c6/Desktop/Pouneh_clusters/2014/2.txt"
with open(cluster_2014_dir, 'r') as fi:
        for line in fi.readlines():
            flagged_cluster_2014.append(line.rstrip('\n')) 
            
flagged_cluster_2013 = []
cluster_2013_dir = "/home/c6/Desktop/Pouneh_clusters/2013/2.txt"
with open(cluster_2013_dir, 'r') as fi:
        for line in fi.readlines():
            flagged_cluster_2013.append(line.rstrip('\n')) 
            
flagged_cluster_2012 = []
cluster_2012_dir = "/home/c6/Desktop/Pouneh_clusters/2012/3.txt"
with open(cluster_2012_dir, 'r') as fi:
        for line in fi.readlines():
            flagged_cluster_2012.append(line.rstrip('\n')) 
            
flagged_cluster_2011 = []
cluster_2011_dir = "/home/c6/Desktop/Pouneh_clusters/2011/5.txt"
with open(cluster_2011_dir, 'r') as fi:
        for line in fi.readlines():
            flagged_cluster_2011.append(line.rstrip('\n')) 
            
flagged_cluster_2010 = []
cluster_2010_dir = "/home/c6/Desktop/Pouneh_clusters/2010/2.txt"
with open(cluster_2010_dir, 'r') as fi:
        for line in fi.readlines():
            flagged_cluster_2010.append(line.rstrip('\n'))

In [65]:
huge_cluster_2019 = 16
huge_cluster_2018 = 6
huge_cluster_2017 = 3
huge_cluster_2016 = 6
huge_cluster_2015 = 1

### Comparing 2018 with the flagged community in 2019

In [44]:
similarity = set(flagged_cluster_2019).intersection(set(flagged_cluster_2018))
difference =  set(flagged_cluster_2019).difference(set(flagged_cluster_2018))
print("Similarity: ", len(similarity), " Difference: ", len(difference))

Similarity:  181  Difference:  258

In [55]:
clusters_2018_dir = utilities.get_files_in_a_directory("/home/c6/Desktop/Pouneh_clusters/2018")
dicc = []     

for file in clusters_2018_dir:
    cluster_i = file.split("/")[-1].split('.')[0]
    if int(cluster_i) != huge_cluster_2018:
        cluster = []
        with open(file, 'r') as f:
            for line in f.readlines():
                cluster.append(line.rstrip('\n'))
        #print("cluster ", i_u," length:", len(cluster))
        similarity = set(cluster).intersection(set(flagged_cluster_2019))
        difference =  set(cluster).difference(set(flagged_cluster_2019))
        dicc.append({"cluster_i": cluster_i, 
                    "length_cluster" : len(cluster), 
                     "similarity": len(similarity), 
                     "difference": len(difference)})

display(pd.DataFrame(dicc))

   cluster_i  length_cluster  similarity  difference
0          8               3           0           3
1         11              14           0          14
2         10               5           0           5
3         60              79          41          38
4          7               1           0           1
5          0               1           0           1
6         63             189         106          83
7         64             240         181          59
8          3               3           0           3
9         12               2           0           2
10        61            1162          44        1118
11         9               1           0           1
12         4             210           4         206
13         1              12           0          12
14        66             214           9         205
15         2             180           5         175
16        62             275           2         273
17         5               3           0           3
18        65             118          11         107

### Comparing 2017 with the flagged community in 2018

In [54]:
similarity = set(flagged_cluster_2018).intersection(set(flagged_cluster_2017))
difference =  set(flagged_cluster_2018).difference(set(flagged_cluster_2017))
print("Similarity: ", len(similarity), " Difference: ", len(difference))

Similarity:  7  Difference:  233

In [57]:
clusters_2017_dir = utilities.get_files_in_a_directory("/home/c6/Desktop/Pouneh_clusters/2017")
dicc = []     

for file in clusters_2017_dir:
    cluster_i = file.split("/")[-1].split('.')[0]
    if int(cluster_i) != huge_cluster_2017:
        cluster = []
        with open(file, 'r') as f:
            for line in f.readlines():
                cluster.append(line.rstrip('\n'))
        #print("cluster ", i_u," length:", len(cluster))
        similarity = set(cluster).intersection(set(flagged_cluster_2018))
        difference =  set(cluster).difference(set(flagged_cluster_2018))
        dicc.append({"cluster_i": cluster_i, 
                    "length_cluster" : len(cluster), 
                     "similarity": len(similarity), 
                     "difference": len(difference)})

display(pd.DataFrame(dicc))

   cluster_i  length_cluster  similarity  difference
0          8             549         139         410
1          7             190           7         183
2         35             144          11         133
3          0             109           3         106
4         33             166           3         163
5         36              69           1          68
6         30             552          16         536
7         34             279          15         264
8         31             136           9         127
9          4             129           6         123
10         6              79           3          76
11         1              10           1           9
12         2              29           0          29
13         5             172           6         166
14        32             342           5         337

### Comparing 2016 with the flagged community in 2017

In [76]:
similarity = set(flagged_cluster_2017).intersection(set(flagged_cluster_2016))
difference =  set(flagged_cluster_2017).difference(set(flagged_cluster_2016))
print("Similarity: ", len(similarity), " Difference: ", len(difference))

Similarity:  9  Difference:  181

In [77]:
clusters_2016_dir = utilities.get_files_in_a_directory("/home/c6/Desktop/Pouneh_clusters/2016")
dicc = []     

for file in clusters_2016_dir:
    cluster_i = file.split("/")[-1].split('.')[0]
    if int(cluster_i) != huge_cluster_2016:
        cluster = []
        with open(file, 'r') as f:
            for line in f.readlines():
                cluster.append(line.rstrip('\n'))
        #print("cluster ", i_u," length:", len(cluster))
        similarity = set(cluster).intersection(set(flagged_cluster_2017))
        difference =  set(cluster).difference(set(flagged_cluster_2017))
        dicc.append({"cluster_i": cluster_i, 
                    "length_cluster" : len(cluster), 
                     "similarity": len(similarity), 
                     "difference": len(difference)})

display(pd.DataFrame(dicc))

   cluster_i  length_cluster  similarity  difference
0         60             149           5         144
1          7              72          38          34
2          0              89           3          86
3         63             181           9         172
4         64             266          11         255
5         67              69           2          67
6         61             440          44         396
7          4             169          12         157
8          1             161          16         145
9         66             222           3         219
10         2               9           0           9
11        62             175           4         171
12         5              78           0          78
13        65             254           7         247

### Comparing 2015 with the flagged community in 2016

In [78]:
similarity = set(flagged_cluster_2016).intersection(set(flagged_cluster_2015))
difference =  set(flagged_cluster_2016).difference(set(flagged_cluster_2015))
print("Similarity: ", len(similarity), " Difference: ", len(difference))

Similarity:  84  Difference:  97

In [80]:
clusters_2015_dir = utilities.get_files_in_a_directory("/home/c6/Desktop/Pouneh_clusters/2015")
dicc = []     

for file in clusters_2015_dir:
    cluster_i = file.split("/")[-1].split('.')[0]
    if int(cluster_i) != huge_cluster_2015:
        cluster = []
        with open(file, 'r') as f:
            for line in f.readlines():
                cluster.append(line.rstrip('\n'))
        #print("cluster ", i_u," length:", len(cluster))
        similarity = set(cluster).intersection(set(flagged_cluster_2016))
        difference =  set(cluster).difference(set(flagged_cluster_2016))
        dicc.append({"cluster_i": cluster_i, 
                    "length_cluster" : len(cluster), 
                     "similarity": len(similarity), 
                     "difference": len(difference)})

display(pd.DataFrame(dicc))

   cluster_i  length_cluster  similarity  difference
0         11              87           1          86
1         14             133          12         121
2         10              28           5          23
3          0              81           2          79
4          3             182           0         182
5         12             198          84         114
6          4             920          12         908
7         13             127           5         122
8          2             190          10         180
9          5              65           0          65
10        15              60          16          44

### Comparing 2014 with the flagged community in 2015

In [84]:
similarity = set(flagged_cluster_2014).intersection(set(flagged_cluster_2015))
difference =  set(flagged_cluster_2014).difference(set(flagged_cluster_2015))
print("Similarity: ", len(similarity), " Difference: ", len(difference))

Similarity:  56  Difference:  254

In [83]:
clusters_2014_dir = utilities.get_files_in_a_directory("/home/c6/Desktop/Pouneh_clusters/2014")
dicc = []     

for file in clusters_2014_dir:
    cluster_i = file.split("/")[-1].split('.')[0]
    if int(cluster_i) != 100:
        cluster = []
        with open(file, 'r') as f:
            for line in f.readlines():
                cluster.append(line.rstrip('\n'))
        #print("cluster ", i_u," length:", len(cluster))
        similarity = set(cluster).intersection(set(flagged_cluster_2015))
        difference =  set(cluster).difference(set(flagged_cluster_2015))
        dicc.append({"cluster_i": cluster_i, 
                    "length_cluster" : len(cluster), 
                     "similarity": len(similarity), 
                     "difference": len(difference)})

display(pd.DataFrame(dicc))

  cluster_i  length_cluster  similarity  difference
0         8             490          12         478
1         7             102          10          92
2         0             272          36         236
3         3             170           8         162
4         9               4           0           4
5         4              50           2          48
6         6             364          17         347
7         2             310          56         254
8         5              35           1          34

### Comparing 2013 with the flagged community in 2014

In [95]:
similarity = set(flagged_cluster_2013).intersection(set(flagged_cluster_2014))
difference =  set(flagged_cluster_2013).difference(set(flagged_cluster_2014))
print("Similarity: ", len(similarity), " Difference: ", len(difference))

Similarity:  11  Difference:  90

In [94]:
clusters_2013_dir = utilities.get_files_in_a_directory("/home/c6/Desktop/Pouneh_clusters/2013")
dicc = []     

for file in clusters_2013_dir:
    cluster_i = file.split("/")[-1].split('.')[0]
    if int(cluster_i) != 100:
        cluster = []
        with open(file, 'r') as f:
            for line in f.readlines():
                cluster.append(line.rstrip('\n'))
        #print("cluster ", i_u," length:", len(cluster))
        similarity = set(cluster).intersection(set(flagged_cluster_2014))
        difference =  set(cluster).difference(set(flagged_cluster_2014))
        dicc.append({"cluster_i": cluster_i, 
                    "length_cluster" : len(cluster), 
                     "similarity": len(similarity), 
                     "difference": len(difference)})

display(pd.DataFrame(dicc))

  cluster_i  length_cluster  similarity  difference
0         7              35          10          25
1         0             146           9         137
2         3             119          14         105
3         4             117           9         108
4         6             194          28         166
5         1              89          10          79
6         2             238          84         154
7         5             410          72         338

### Comparing 2012 with the flagged community in 2013

In [96]:
similarity = set(flagged_cluster_2012).intersection(set(flagged_cluster_2013))
difference =  set(flagged_cluster_2012).difference(set(flagged_cluster_2013))
print("Similarity: ", len(similarity), " Difference: ", len(difference))

Similarity:  1  Difference:  296

In [100]:
clusters_2012_dir = utilities.get_files_in_a_directory("/home/c6/Desktop/Pouneh_clusters/2012")
dicc = []     

for file in clusters_2012_dir:
    cluster_i = file.split("/")[-1].split('.')[0]
    if int(cluster_i) != 100:
        cluster = []
        with open(file, 'r') as f:
            for line in f.readlines():
                cluster.append(line.rstrip('\n'))
        #print("cluster ", i_u," length:", len(cluster))
        similarity = set(cluster).intersection(set(flagged_cluster_2013))
        difference =  set(cluster).difference(set(flagged_cluster_2013))
        dicc.append({"cluster_i": cluster_i, 
                    "length_cluster" : len(cluster), 
                     "similarity": len(similarity), 
                     "difference": len(difference)})

display(pd.DataFrame(dicc))

  cluster_i  length_cluster  similarity  difference
0         0             173          32         141
1         3             309          19         290
2         4             125          25         100
3         6             206          41         165
4         1             216          22         194
5         2              38           1          37
6         5             101           7          94

### Comparing 2011 with the flagged community in 2012

In [ ]:
similarity = set(flagged_cluster_2011).intersection(set(flagged_cluster_2012))
difference =  set(flagged_cluster_2011).difference(set(flagged_cluster_2012))
print("Similarity: ", len(similarity), " Difference: ", len(difference))

In [103]:
clusters_2011_dir = utilities.get_files_in_a_directory("/home/c6/Desktop/Pouneh_clusters/2011")
dicc = []     

for file in clusters_2011_dir:
    cluster_i = file.split("/")[-1].split('.')[0]
    if int(cluster_i) != 100:
        cluster = []
        with open(file, 'r') as f:
            for line in f.readlines():
                cluster.append(line.rstrip('\n'))
        #print("cluster ", i_u," length:", len(cluster))
        similarity = set(cluster).intersection(set(flagged_cluster_2012))
        difference =  set(cluster).difference(set(flagged_cluster_2012))
        dicc.append({"cluster_i": cluster_i, 
                    "length_cluster" : len(cluster), 
                     "similarity": len(similarity), 
                     "difference": len(difference)})

display(pd.DataFrame(dicc))

  cluster_i  length_cluster  similarity  difference
0         7              80          23          57
1         0              97           9          88
2         3             131          16         115
3         4              28           0          28
4         6             163          56         107
5         1              95          11          84
6         2              74          17          57
7         5             255          63         192

### Comparing 2010 with the flagged community in 2011

In [105]:
similarity = set(flagged_cluster_2010).intersection(set(flagged_cluster_2011))
difference =  set(flagged_cluster_2010).difference(set(flagged_cluster_2011))
print("Similarity: ", len(similarity), " Difference: ", len(difference))

Similarity:  28  Difference:  105

In [106]:
clusters_2010_dir = utilities.get_files_in_a_directory("/home/c6/Desktop/Pouneh_clusters/2010")
dicc = []     

for file in clusters_2010_dir:
    cluster_i = file.split("/")[-1].split('.')[0]
    if int(cluster_i) != 100:
        cluster = []
        with open(file, 'r') as f:
            for line in f.readlines():
                cluster.append(line.rstrip('\n'))
        #print("cluster ", i_u," length:", len(cluster))
        similarity = set(cluster).intersection(set(flagged_cluster_2011))
        difference =  set(cluster).difference(set(flagged_cluster_2011))
        dicc.append({"cluster_i": cluster_i, 
                    "length_cluster" : len(cluster), 
                     "similarity": len(similarity), 
                     "difference": len(difference)})

display(pd.DataFrame(dicc))

  cluster_i  length_cluster  similarity  difference
0         8              14           0          14
1         7             119          71          48
2         0              83          19          64
3         3             130          19         111
4         4              15          11           4
5         6              12           6           6
6         1              30           0          30
7         2             133          28         105
8         5             131          17         114